@model GameDevResources.Models.Resource

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Resource</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ID" />
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Type" class="control-label"></label>
                <select asp-for="Type" asp-items="Html.GetEnumSelectList<ResourceType>()" class="form-control">
                    <option selected="selected" value="">Choose One</option>
                </select>
                <span asp-validation-for="Type" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="URL" class="control-label"></label>
                <input asp-for="URL" class="form-control" />
                <span asp-validation-for="URL" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Pricing" class="control-label"></label>
                <select asp-for="Pricing" asp-items="Html.GetEnumSelectList<PricingModel>()" class="form-control">
                    <option selected="selected" value="">Choose One</option>
                </select>
                <span asp-validation-for="Pricing" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Tags" class="control-label"></label>
                <input id="tagInput" type="text" class="form-control" placeholder="Enter tags" />
                <div id="tagsContainer" class="mt-2">
                    @foreach (var tag in Model.Tags)
                    {
                        <span class="chip" data-tag="@tag">@tag <button type="button" class="close" data-tag="@tag">&times;</button></span>
                    }
                </div>
                <input type="hidden" asp-for="Tags" id="tagsHidden" value="@string.Join(",", Model.Tags)" />
                <span asp-validation-for="Tags" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script src="~/js/tagInput.js"></script>
}